<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelia - Plan Your Perfect Trip</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Travelia_Logo.png' %}">
</head>
<body>

    {% include 'blog/sections/navbar.html' %}

    <!-- Hero Section -->
    <section class="hero">
        <h1>Explore the World with Travelia</h1>
        <p>Your adventure begins here. Discover destinations, book activities, and plan your perfect trip!</p>

        <!-- Search Bar within Hero Section -->
            <form method="GET" action="{% url 'search_destinations' %}">
                <div class="search-container" style="flex-direction: row;">
                    <input type="text" name="q" placeholder="Search for destinations..." required >
                    <div style="padding: 5px 10px; background: var(--primary-light);color: var(--text-color);border: none;border-radius: 0 5px 5px 0;cursor: pointer; transition: background 0.5s;">
                        <button type="submit">Search</button>
                    </div>
                </div>  

                <div class="search-container" style="justify-content: center; align-items: center;">
                    <button class="toggle-fields">More Options</button>
                </div>
                    <div class="additional-fields">
                        <input type="number" name="num_people" placeholder="Number of people" required min="1">
                        <input type="date" name="departure_date" placeholder="Arrival Date" required>
                        <input type="date" name="return_date" placeholder="Departure Date" required>
                    </div>
            </form>
        {% comment %} <a href="#destinations" class="btn">Start Exploring</a> {% endcomment %}
    </section>

    <!-- Featured Destinations -->
    <section id="destinations" class="section">
        <h2>Featured Destinations</h2>
        <div class="grid">
            <a href="/search/?q=paris">
                <div class="card">
                    <img src="{% static 'images/paris.jpg' %}" alt="Paris">
                    <div class="card-content">
                        <h3>Paris, France</h3>
                        <p>The City of Light, known for its art galeries, fashion, and culture.</p>
                    </div>
                </div>
            </a>
            <a href="/search/?q=tokyo">
                <div class="card">
                    <img src="{% static 'images/tokyo.jpg' %}" alt="Tokyo">
                    <div class="card-content">
                        <h3>Tokyo, Japan</h3>
                        <p>A bustling city blending traditional culture with modern technology.</p>
                    </div>
                </div>
            </a>
            <a href="/search/?q=newyork">
                <div class="card">
                    <img src="{% static 'images/newyork.jpg' %}" alt="New York">
                    <div class="card-content">
                        <h3>New York, USA</h3>
                        <p>The city that never sleeps, full of iconic landmarks such as the liberty statue.</p>
                    </div>
                </div>
            </a>
            <a href="/search/?q=madrid">
                <div class="card">
                    <img src="{% static 'images/madrid.jpg' %}" alt="New York">
                    <div class="card-content">
                        <h3>Madrid, Spain</h3>
                        <p>Madrid, Spain's central capital, renowned for its art museums and vibrant culinary scene.</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!-- Footer -->
    {% include 'blog/sections/footer.html' %}

    <!-- JavaScript for Collapsing Fields -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.querySelector(".toggle-fields"); // Botón para mostrar/ocultar
            const additionalFields = document.querySelector(".additional-fields");
        
            toggleButton.addEventListener("click", function() {
                additionalFields.classList.toggle("show");
            });
        });
    </script>

</body>
</html>
