<!DOCTYPE html>
<html>
<head>
    <title>Travelia</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icono.png' %}">
</head>
<body>
    <h1>Travelia</h1>
    <form method="GET" action="{% url 'blog_posts' %}">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <small>Publicado el: {{ post.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
    <footer>
            <a href="{% url 'blog_posts' %}">Política de Privacidad</a>
    </footer>
</body>
</html>